
Options +FollowSymlinks
RewriteEngine On
# ============================================================================== #
# RewriteCond %{HTTP:Authorization} .
# RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

RewriteRule ^bootstrap/(.*)$ frontend/web/bootstrap/$1 [L]
RewriteRule ^icons/(.*)$ frontend/web/icons/$1 [L]
RewriteRule ^fontawesome/(.*)$ frontend/web/fontawesome/$1 [L]
RewriteRule ^css/(.*)$ frontend/web/css/$1 [L]
RewriteRule ^icon_fonts_assets/(.*)$ frontend/web/icon_fonts_assets/$1 [L]
RewriteRule ^bower_components/(.*)$ frontend/web/bower_components/$1 [L]
RewriteRule ^js/(.*)$ frontend/web/js/$1 [L]
RewriteRule ^document/(.*)$ frontend/web/document/$1 [L]
RewriteRule ^vendor_components/(.*)$ frontend/web/vendor_components/$1 [L]
RewriteRule ^img/(.*)$ frontend/web/img/$1 [L]
RewriteRule ^vendor_plugins/(.*)$ frontend/web/vendor_plugins/$1 [L]
RewriteRule ^assets/(.*)$ frontend/web/assets/$1 [L]
RewriteRule ^images/(.*)$ frontend/web/images/$1 [L]


# ========Jika tidak memenuhi kondisi di atas, maka arahkan ke index.php======== #
RewriteCond %{REQUEST_URI} !^/(backend|frontend|pengaturan|pegawai|suratadmin|permintaan)/web/(bootstrap|fontawesome|css|icon_fonts_assets|bower_components|js|document|img|vendor_components|assets|plugin|css2)/
RewriteCond %{REQUEST_URI} !index.php
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ frontend/web/index.php
# ============================================================================== #

# API
RewriteCond %{REQUEST_URI} ^/(api)
RewriteRule ^api/bootstrap/(.*)$ api/web/bootstrap/$1 [L]
RewriteRule ^api/icons/(.*)$ api/web/icons/$1 [L]
RewriteRule ^api/fontawesome/(.*)$ api/web/fontawesome/$1 [L]
RewriteRule ^api/css/(.*)$ api/web/css/$1 [L]
RewriteRule ^api/icon_fonts_assets/(.*)$ api/web/icon_fonts_assets/$1 [L]
RewriteRule ^api/bower_components/(.*)$ api/web/bower_components/$1 [L]
RewriteRule ^api/js/(.*)$ api/web/js/$1 [L]
RewriteRule ^api/document/(.*)$ api/web/document/$1 [L]
RewriteRule ^api/vendor_components/(.*)$ api/web/vendor_components/$1 [L]
RewriteRule ^api/img/(.*)$ api/web/img/$1 [L]
RewriteRule ^api/vendor_plugins/(.*)$ api/web/vendor_plugins/$1 [L]
RewriteRule ^api/assets/(.*)$ api/web/assets/$1 [L]
RewriteRule ^api/images/(.*)$ api/web/images/$1 [L]
# ========Jika tidak memenuhi kondisi di atas, maka arahkan ke index.php======== #
RewriteCond %{REQUEST_URI} !^/api/web/(bootstrap|fontawesome|css|icons|icon_fonts_assets|images|bower_components|js|vendor_components|document|vendor_plugins|img|assets)/
RewriteCond %{REQUEST_URI} ^/(api)
RewriteRule ^.*$ api/web/index.php [L]
# ============================================================================== #
